---
import WalletConnect from "../components/WalletConnect.astro";
---


<html>
  <head>
    <title>Trade Finance Simulation</title>
    <link rel="stylesheet" href="/src/styles/global.css" />

  </head>
  <body>
    <WalletConnect />
  </body>
</html>
